<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDe5_V892Jrk5fz6IgnNhGzOiOuQPPezs</string>
	<key>GCM_SENDER_ID</key>
	<string>125471689017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobeasyTask</string>
	<key>PROJECT_ID</key>
	<string>mobeasyapp-251f9</string>
	<key>STORAGE_BUCKET</key>
	<string>mobeasyapp-251f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125471689017:ios:22e3d7128a51f9f36a80e8</string>
</dict>
</plist>